.# dependencies
/node_modules

# build
/dist

# env
.env
.env.*

# system files
.DS_Store
Thumbs.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.vscode
.idea
*.swp

# shadcn/ui config (if any local cache)
/components.json
